.footer {
  padding: 60px 0;
  background-color: var(--secondary-bg-color);

  &__address {
    width: 231px;
    margin: 0 auto;
    text-align: center;

    @media screen and (min-width: $desktop) {
      margin-right: 70px;
      text-align: start;
    }
  }

  &__social {
    width: 206px;
    margin: 0 auto 60px;
    text-align: center;

    @media screen and (min-width: $desktop) {
      margin-right: 93px;
      margin-bottom: 0;
      text-align: start;
    }
  }
}

.address {
  font-style: inherit;
  @include font(14px, 400, 24px);
  letter-spacing: 0.03em;
  margin-bottom: 60px;

  &__item:not(:last-child) {
    margin-bottom: 9px;
  }

  &__link:first-child {
    color: var(--primary-bg-color);

    transition: color 250ms var(--timing-function);
  }

  &__link:hover,
  &__link:focus {
    color: var(--accent-color);
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 0;
  }
}

.contact__link {
  color: rgba(255, 255, 255, 0.6);

  transition-property: color 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.subscribe {
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $desktop) {
    text-align: start;

    &__form {
      display: flex;
    }
  }

  &__input {
    width: 100%;
    max-width: 450px;
    padding: 15px 16px;
    margin-bottom: 20px;
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.6);
    background-color: var(--secondary-bg-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    @include font(16px, 400, 20px);

    &::placeholder {
      color: rgba(255, 255, 255, 0.6);
    }

    &:focus {
      outline: none;
      border-color: var(--accent-color);
    }

    @media screen and (min-width: $desktop) {
      width: 358px;
      margin-right: 12px;
      margin-bottom: 0;
    }
  }

  &__btn {
    margin: 0 auto;
    & .send-icon {
      margin-left: 10px;
      fill: var(--primary-bg-color);
    }
  }
}
