.hero {
  @media screen and (min-device-pixel-ratio: 2) and (min-width: 480px) and (max-width: 767px),
    screen and (min-resolution: 192dpi) and (min-width: 480px) and (max-width: 767px),
    screen and (min-resolution: 2dppx) and (min-width: 480px) and (max-width: 767px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../../images/hero/hero-mobile-bg@2x.jpg");

    background-size: cover;
  }

  @media screen and (min-width: 480px) and (max-width: 767px) {
    padding: 118px 0;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../../images/hero/hero-mobile-bg.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 480px 400px;
  }

  .hero__left-side {
    display: none;
  }
}

.hero {
  // background-color: var(--secondary-bg-color);

  &.section {
    padding: 118px 0;
    margin: 0 auto;
    text-align: center;
    // background-image: linear-gradient(
    //     to right,
    //     rgba(47, 48, 58, 0.4),
    //     rgba(47, 48, 58, 0.4)
    //   ),
    //   url(../images/hero-bg.jpg);
    // background-repeat: no-repeat;
    // background-position: center;

    // @media screen and (min-width: $tablet) {
    //   max-width: 1600px;
    //   min-height: 600px;
    //   padding: 200px 0;
    // }
  }

  &__title {
    @include font(26px, 900, 42px);
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-bg-color);
    margin-bottom: 30px;

    @media screen and (min-width: $tablet) {
      @include font(44px, 900, 60px);
    }
  }
}
