*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
img,
a,
button,
input,
textarea {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--primary-text-color);
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  padding-top: 80px;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: var(--main-font);
  @include font(14px, 500, 16px);
  letter-spacing: 0.03em;
}
