.container {
  padding: 0 15px;
  margin: 0 auto;

  @media screen and (min-width: $mobile) {
    width: 480px;

    .works & {
      display: none;
    }
  }

  @media screen and (min-width: $tablet) {
    width: 768px;

    .footer & {
      @include flex(flex-start, baseline);
      flex-wrap: wrap;
    }
  }

  @media screen and (min-width: $desktop) {
    width: 1200px;

    .works & {
      display: block;
    }

    .footer & {
      flex-wrap: nowrap;
    }
  }
}
