:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: rgb(47, 48, 58);
  --secondary-bg-color-opas: rgba(47, 48, 58, 0.8);
  --third-bg-color: #f5f4fa;
  --icon-color: #afb1b8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
}
